<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AppComponent</title>
</head>
<body>
  <div class="container jumbotron text-center mt-3">
    <h1 class="h1">
      {{heading}}
    </h1>
  </div>
  <div class="container jumbotron text-center mt-3 d-flex flex-column align-items-center">
    <h3 class="h3">Links to other pages</h3>
    <div class="list-group">
      <a href="/helloapp" class='btn btn-outline-primary list-group-item'>Click Here to go to hello app</a>
      <a href="/testapp" class='btn btn-outline-primary list-group-item'>Click here to go to test app</a>
    </div>
  </div>
  <div ngif='!innerHTML' class="container jumbotron text-center">
    <h3 class="h3">
      <router-outlet></router-outlet>
    </h3>
  </div>
</body>
</html>
